.containerMovie{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
    background-color: seashell
    
}
.movieCard{
   display: flex;
   flex-direction: column;
   padding-bottom: 1rem;
   
    
}
.movieCardImage{
    position: relative;
}
.detailContainer2{
    opacity: 0;
    transition: opacity 1500ms;
}
.detailContainer2:hover{
    transition: opacity 1500ms;
    opacity: 1;
}
img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.movieCardTextContainer{
    background-color: steelblue;;
    font-size: 1.5rem;
    max-width: 300px;
    height: calc(100% - 20vh);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;


}
.titleText{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    width: 90%;
}
.voteText{
    background-color: black;
    color: antiquewhite;
    padding: 0.6rem;
    border-radius: 100%;
}
